*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none; /* Supprime les puces */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2D5DC; /* Couleur de fond */
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    height: 100px;
  }
  
  nav ul li {
    float: left; /* Aligne les éléments horizontalement */
  }
  
  nav ul li a {
    display: block;
    color: black; /* Couleur du texte */
    text-align: center;
    padding: 10px 10px;
    text-decoration: none; /* Supprime le soulignement */
  }
  
  nav ul li a:hover {
    background-color: #111; /* Couleur de fond au survol */
  }
  

footer {
    background-image: url(/Asset/images/lum3n--RBuQ2PK_L8-unsplash.jpg);
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid;
    color: black;
    background-repeat: no-repeat;
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 30px;
    background-position: center;
    background-size: cover;
}


h1{
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}




.photoProfil {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 15px;
}



article {
    padding: 10px;
    margin: 10px;
    flex:0.33%;
    border-radius: 10px;
  }

  .article1 {background-color: #FFAE9D;}
  .article2 {background-color: #B39188;}
  .article3 {background-color:#CCAEA4;}
  .article4 {background-color:#FBBFB8;}




  center{
    text-align:center;
    padding:15px;
    font-weight:900;
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: row;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

ul {
    flex-direction: column;    
  }
  
    .lienPhoto {
    text-align: center;
}


li {
    margin: 20px;
    background-color: white;
    text-align: center;   
    border-radius: 10px;
}

    .description {
        font-weight: bold;
}

h2 {
    text-align: center;
    background-color:#F2D5DC;
    border-radius: 10px;
}


